<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Java EE"/>
    <meta name="card" content="WK"/>
    <!--<link rel="icon" href="../../favicon.ico"/>-->

    <title>Java EE</title>

    <!-- Bootstrap core CSS -->
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <h:outputStylesheet library="css" name="dashboard.css"/>
    <h:outputStylesheet library="css" name="styles.css"/>

    <h:outputScript library="js" name="jquery-1.11.3.js"/>
    <h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="nav.js"/>
</h:head>

<h:body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-account" href="#">
                    <!--<h:graphicImage library="img" name="java.png" styleClass="pull-left"/>-->
                    Bank
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav visible-xs">
                    <h:column rendered="#{authentication.isNotAuthenticated()}">
                        <li><h:link outcome="login-form.xhtml" value="Login"/></li>
                    </h:column>
                    <h:column rendered="#{authentication.isAuthenticated()}">
                        <li><h:link outcome="change-password.xhtml" value="Change password"/></li>
                    </h:column>
                    <li><h:link outcome="list_accounts.xhtml" value="Accounts"/></li>
                    <li><h:link outcome="list_cards.xhtml" value="Cards"/></li>
                    <li><h:link outcome="list_profiles.xhtml" value="Profiles"/></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-xs-12 sidebar">
                <ul class="nav nav-sidebar">

                    <h:column rendered="#{authentication.isNotAuthenticated()}">
                        <li>
                            <h:link outcome="login-form.xhtml">
                                <h:outputText value="Login"/>
                            </h:link>
                        </li>
                    </h:column>
                    <h:column rendered="#{authentication.isAuthenticated()}">
                        <li>
                            <h:link outcome="change-password.xhtml">
                                <h:outputText value="Change password"/>
                            </h:link>
                        </li>
                    <li>
                        <h:link outcome="list_accounts.xhtml">
                            <h:outputText value="Accounts"/>
                        </h:link>
                    </li>
                    <li>
                        <h:link outcome="list_cards.xhtml">
                            <h:outputText value="Cards"/>
                        </h:link>
                    </li>
                    <li>

                        <h:link outcome="/list_profiles.xhtml">
                            <h:outputText value="Profiles"/>
                        </h:link>
                    </li>
                    </h:column>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h:form styleClass="navbar-right" rendered="#{authentication.isAuthenticated()}">
                    <h:panelGroup layout="block" styleClass="navbar-text">
                        <h:outputText value="Hello #{authAspect.getUserLogin()}!   "/>
                        <h:commandLink action="#{authentication.logout()}" value="Logout" styleClass="navbar-link"/>
                    </h:panelGroup>
                </h:form>

                <ui:insert name="content"/>
            </div>
        </div>
    </div>

</h:body>
</html>
