<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/main.xhtml">
    <f:metadata>
        <f:viewParam name="account" value="#{editAccount.account}"/>
    </f:metadata>

    <ui:define name="content">
        <h:column rendered="#{listAccounts.canShowAccount()}">
            <h:form>
                <h:panelGrid styleClass="table table-striped" columns="2">
                    <h:outputLabel value="Name:" for="title"/>
                    <h:panelGrid styleClass="full-width">
                        <h:inputText styleClass="form-control" id="title"
                                     value="#{editAccount.account.name}"/>
                        <h:message errorClass="error" for="title"/>
                    </h:panelGrid>

                    <h:outputLabel value="Number:" for="number"/>
                    <h:panelGrid styleClass="full-width">
                        <h:inputText styleClass="form-control" id="number"
                                     value="#{editAccount.account.number}"/>
                        <h:message errorClass="error" for="number"/>
                    </h:panelGrid>

                    <h:outputLabel value="Balance:" for="balance"/>
                    <h:panelGrid styleClass="full-width">
                        <h:inputText styleClass="form-control" id="balance"
                                     value="#{editAccount.account.balance}"/>
                        <h:message errorClass="error" for="balance"/>
                    </h:panelGrid>

                </h:panelGrid>

                <h:commandButton styleClass="btn btn-primary" value="Save"
                                 action="#{editAccount.saveAccount()}"/>
                <h:button styleClass="btn btn-default ml-1" value="Return" outcome="list_accounts.xhtml"/>
            </h:form>
        </h:column>
    </ui:define>
</ui:composition>
