<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">
        <h:column rendered="#{listCards.canShowCards()}">
            <h:dataTable styleClass="table table-striped table-hover"
                         value="#{listCards.cards}" var="card">
                <h:column>
                    <h:outputText value="#{card.number}"/>
                </h:column>

                <h:column>
                    <h:outputText value="#{card.expirationDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </h:outputText>
                </h:column>

                <h:column>
                    <h:outputText value="#{card.cvv}"/>
                </h:column>

                <h:column>
                    <h:button styleClass="btn btn-default" value="Show" outcome="view_card.xhtml">
                        <f:param name="card" value="#{card.id}"/>
                    </h:button>
                </h:column>

                <h:column rendered="#{listCards.canModifyCards()}">
                    <h:button styleClass="btn btn-default" value="Edit" outcome="edit_card.xhtml">
                        <f:param name="card" value="#{card.id}"/>
                    </h:button>
                </h:column>

                <h:column rendered="#{listCards.canModifyCards()}">
                    <h:form>
                        <h:commandButton styleClass="btn btn-danger" value="Delete"
                                         action="#{listCards.removeCard(card)}"/>
                    </h:form>
                </h:column>
            </h:dataTable>
            <h:column rendered="#{listCards.canModifyCards()}">
                <h:button styleClass="btn btn-primary" value="Add new" outcome="edit_card.xhtml"/>
            </h:column>
        </h:column>
    </ui:define>
</ui:composition>
