<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">
        <h:column rendered="#{listProfiles.canShowProfiles()}">
            <h:form>
                <h:panelGrid styleClass="table table-striped" columns="2">
                    <h:outputLabel value="Filter by last name:" for="filter"/>
                    <h:inputText id="filter" value="#{listProfiles.filterParam}">
                        <f:ajax event="keyup" render="table" execute="@this"/>
                    </h:inputText>
                </h:panelGrid>
            </h:form>

            <h:dataTable id="table" styleClass="table table-striped table-hover"
                         value="#{listProfiles.profiles}" var="profile">
                <h:column>
                    <h:outputText value="#{profile.firstName} #{profile.lastName}"/>
                </h:column>

                <h:column>
                    <h:outputText value="#{profile.referenceId}" escape="true"/>
                </h:column>

                <h:column>
                    <h:dataTable value="#{profile.cards}" var="card">
                        <h:column>
                            <h:outputText value="#{card.number}"/>
                        </h:column>
                    </h:dataTable>
                </h:column>

                <h:column>
                    <h:outputText value="#{profile.account.name}" escape="true"/>
                </h:column>

                <h:column>
                    <h:button styleClass="btn btn-default" value="Show" outcome="view_profile.xhtml">
                        <f:param name="profile" value="#{profile.id}"/>
                    </h:button>
                </h:column>

                <h:column rendered="#{listProfiles.canModifyProfiles()}">
                    <h:button styleClass="btn btn-default" value="Edit" outcome="edit_profile.xhtml">
                        <f:param name="profile" value="#{profile.id}"/>
                    </h:button>
                </h:column>

                <h:column rendered="#{listProfiles.canModifyProfiles()}">
                    <h:form>
                        <h:commandButton styleClass="btn btn-danger" value="Delete"
                                         action="#{listProfiles.removeProfile(profile)}"/>
                    </h:form>
                </h:column>
            </h:dataTable>
            <h:column rendered="#{listProfiles.canModifyProfiles()}">
                <h:button styleClass="btn btn-primary" value="Add new" outcome="edit_profile.xhtml"/>
            </h:column>
        </h:column>
    </ui:define>
</ui:composition>
