<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/main.xhtml">

    <ui:define name="head">
        <title>login</title>
    </ui:define>

    <ui:define name="content">
        <h2>Login</h2>

        <h:form id="login-form" class="form-horizontal">

            <div class="form-group">
                <h:outputLabel for="login" value="Login" styleClass="col-sm-2 control-label"/>
                <div class="col-sm-10">
                    <h:inputText id="login" styleClass="form-control" value="#{loginForm.login}" />
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="password" value="Password" styleClass="col-sm-2 control-label"/>
                <div class="col-sm-10">
                    <h:inputSecret id="password" styleClass="form-control" value="#{loginForm.password}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-1">
                    <h:commandButton action="#{loginForm.login()}" value="Login" styleClass="btn btn-default"/>
                </div>
            </div>

        </h:form>
    </ui:define>

</ui:composition>
