<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/main.xhtml">
    <f:metadata>
        <f:viewParam name="profile" value="#{viewProfile.profile}" required="true"/>
    </f:metadata>

    <ui:define name="content">
        <h:column rendered="#{listProfiles.canShowProfiles()}">
            <h:panelGrid styleClass="table table-striped" columns="2">
                <h:outputLabel value="First name:" for="firstName"/>
                <h:outputText id="firstName" value="#{viewProfile.profile.firstName}"/>

                <h:outputLabel value="Last name:" for="lastname"/>
                <h:outputText id="lastname" value="#{viewProfile.profile.lastName}"/>

                <h:outputLabel value="Account:" for="account"/>
                <h:outputText id="account" value="#{viewProfile.profile.account.name}"/>

                <h:outputLabel value="Cards:" for="cards"/>

                <h:dataTable id="cards" styleClass="table"
                             value="#{viewProfile.profile.cards}" var="cards">
                    <h:column>
                        <h:outputText value="Number: #{cards.number} Cvv: #{cards.cvv}"/>
                    </h:column>

                </h:dataTable>

            </h:panelGrid>

            <h:button styleClass="btn btn-default" value="Powrót" outcome="list_profiles.xhtml"/>
        </h:column>
    </ui:define>
</ui:composition>
